/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Container class for centering content */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Header */
header {
    background: #FFFFFF;
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 1.5%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header .logo h1 {
    font-family: 'Newsreader', serif;
    font-weight: 500;
    font-size: 40px;
    color: #426B1F;
}

header nav ul {
    list-style: none;
    display: inline-flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

header nav ul li a.btn {
    background: #426B1F;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 8px;
}

/* Logo2 (Circular Image) Styles */
.logo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-left: 20px;
    position: relative;
}

.logo2 img {
    width: 200%;
    height: 200%;
}

/* Dropdown List Styles */
.profile-dropdown {
    display: none; /* Initially hidden */
    position: absolute;
    top: 80px;
    right: 20px;
    width: 150px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    z-index: 1000;
}

.profile-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.profile-dropdown ul li {
    margin-bottom: 10px;
}

.profile-dropdown ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    display: block;
    padding: 8px;
    border-radius: 5px;
}

.profile-dropdown ul li a:hover {
    background-color: #f1f1f1;
}

/* Show Dropdown */
.show {
    display: block;
}

/* Back Button */
.back-button {
    margin: 20px 0;
    padding-left: 20px;
}

.back-button a {
    text-decoration: none;
    color: #426B1F;
    font-size: 14px;
    font-weight: bolder;
    display: inline-block;
}

.back-button a:hover {
    text-decoration: solid;
}

/* About Container */
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 20px;
}

.about-container h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
}

/* Footer section */
.footer-container {
    text-align: center;
    padding: 20px 0;
    background-color: #f8f8f8;
    margin-top: auto;
}

.footer-container p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}
